In [40]:
import pandas as pd


#Определите, какому фильму было выставлено больше всего оценок 5.0.

ratings = pd.read_csv('ratings.csv')
ratings[ratings.rating == 5].groupby('movieId').count().sort_values(by='userId', ascending=False).head(1)

         userId  rating  timestamp
movieId
318         153     153        153

In [74]:
#По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
#категорий 4, 12 и 21 за период с 2005 по 2010 год. 
#Не учитывайте в расчётах отрицательные значения quantity.

def baltic_states(country):
    if country in ['Lithuania','Latvia', 'Estonia']:
        return True
    return False


power = pd.read_csv('power.csv')
power['baltic_states'] = power.country.apply(baltic_states)

query_str = 'baltic_states == True and category in [4, 12, 21] and quantity > 0 and 2005 < year <2010'
power.query(query_str)['quantity'].sum()

35860.0

In [89]:
#Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame.


tables = pd.read_html('https://fortrader.org/quotes')

for t in tables :
    print(t.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Название      2 non-null      object
 1   Цена          2 non-null      float64
 2   Изменение     2 non-null      float64
 3   Изменение(%)  2 non-null      float64
 4   Обновлено     0 non-null      float64
dtypes: float64(4), object(1)
memory usage: 208.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Название      7 non-null      object
 1   Цена          7 non-null      float64
 2   Изменение     7 non-null      float64
 3   Изменение(%)  7 non-null      float64
 4   Обновлено     0 non-null      float64
dtypes: float64(4), object(1)
memory usage: 408.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Название      5 non-null      object
 1   Цена          5 non-null      object
 2   Изменение     5 non-null      float64
 3   Изменение(%)  5 non-null      float64
 4   Обновлено     0 non-null      float64
dtypes: float64(3), object(2)
memory usage: 328.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Название      41 non-null     object
 1   Цена          41 non-null     object
 2   Изменение     41 non-null     object
 3   Изменение(%)  41 non-null     object
 4   Обновлено     0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 1.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Название      39 non-null     object
 1   Цена          39 non-null     float64
 2   Изменение     39 non-null     object
 3   Изменение(%)  39 non-null     object
 4   Обновлено     0 non-null      float64
dtypes: float64(2), object(3)
memory usage: 1.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Название      15 non-null     object
 1   Цена          15 non-null     object
 2   Изменение     15 non-null     float64
 3   Изменение(%)  15 non-null     float64
 4   Обновлено     0 non-null      float64
dtypes: float64(3), object(2)
memory usage: 728.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Название      13 non-null     object
 1   Цена          13 non-null     float64
 2   Изменение     13 non-null     float64
 3   Изменение(%)  13 non-null     float64
 4   Обновлено     0 non-null      float64
dtypes: float64(4), object(1)
memory usage: 648.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Название      14 non-null     object
 1   Цена          14 non-null     object
 2   Изменение     14 non-null     object
 3   Изменение(%)  14 non-null     object
 4   Обновлено     0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 688.0+ bytes
None