In [ ]:
'''
Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его
и оставить 8 столбцов для дальнейшего изучения:
surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.
'''


import pandas as pd

head = ('surgery?', 'Age', 'Hospital Number',
		'rectal temperature', 'Pulse', 'respiratory rate',
		'temperature of extremities', 'peripheral pulse', 'mucous membranes',
		'capillary refill time', 'pain', 'peristalsis',
		'abdominal distension', 'nasogastric tube', 'nasogastric reflux',
		'nasogastric reflux PH', 'rectal examination - feces', 'abdomen',
		'packed cell volume', 'total protein', 'abdominocentesis appearance',
		'abdomcentesis total protein', 'outcome', 'surgical lesion?',
		'type of lesion1', 'type of lesion2', 'type of lesion3',
		'cp_data')

horse_data = pd.read_csv('horse_data.csv', header=0, names=head, na_values=['?'], usecols=['surgery?', 'Age',
                                                                'rectal temperature', 'Pulse', 'respiratory rate',
                                                                'temperature of extremities', 'pain', 'outcome',])


horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    298 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          239 non-null    float64
 3   Pulse                       275 non-null    float64
 4   respiratory rate            241 non-null    float64
 5   temperature of extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

In [ ]:
'''
Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.
'''

horse_data.head()

,surgery?,Age,rectal temperature,Pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0

In [ ]:

horse_data.describe()

,surgery?,Age,rectal temperature,Pulse,respiratory rate,temperature of extremities,pain,outcome
count,298.000000,299.00000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [ ]:

# значение 9 для столбца Age - ошибочное значение, проставленна вместо 2
horse_data.loc[horse_data['Age']  == 9, 'Age'] = 2
horse_data.loc[horse_data['Age']  == 2]
horse_data.describe()

,surgery?,Age,rectal temperature,Pulse,respiratory rate,temperature of extremities,pain,outcome
count,298.000000,299.000000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.080268,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,0.272162,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [ ]:
def hd_outlier(col_name):
    q1 = horse_data[col_name].quantile(0.25)
    q3 = horse_data[col_name].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr)
    upper_bound = q3 + (1.5 * iqr)
    remove_outliers = horse_data.query(f'`{col_name}` < {lower_bound} or `{col_name}` > {upper_bound}')
    return(remove_outliers)



print('Кол-во выбросов по  rectal temperature ',  len(hd_outlier('rectal temperature')))
print('Кол-во выбросов по  Pulse ',  len(hd_outlier('Pulse')))
print('Кол-во выбросов по  respiratory rate ', len(hd_outlier('respiratory rate')))

Кол-во выбросов по  rectal temperature  14
Кол-во выбросов по  Pulse  5
Кол-во выбросов по  respiratory rate  17

In [ ]:
'''
Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов.
Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик
и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.
'''


horse_data.isna().sum ()

surgery?                       1
Age                            0
rectal temperature            60
Pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [ ]:
horse_data.isna().mean()*100

surgery?                       0.333333
Age                            0.000000
rectal temperature            20.000000
Pulse                          8.000000
respiratory rate              19.333333
temperature of extremities    18.666667
pain                          18.333333
outcome                        0.333333
dtype: float64

In [ ]:
hd_copy = horse_data.copy()

# по одному пропуску в столбцах surgery? и outcome, заполняем модами,
# исходя из того что  моды остальных показатели (кроме pain, отличается на 1)
# совпадают со значениями в строке с пропусками  surgery? и outcome
hd_copy['surgery?'].fillna(hd_copy['surgery?'].mode()[0], inplace=True)
hd_copy['outcome'].fillna(hd_copy['outcome'].mode()[0], inplace=True)

# исходим из описания:   - In general, the more painful, the more likely it is to require surgery
hd_copy['pain'] = hd_copy['pain'].fillna(horse_data.groupby('surgery?')['pain'].transform('median'))

# частота дыхание зависит от возраста, у молодых выше
hd_copy['respiratory rate'] = hd_copy['respiratory rate'].fillna(horse_data.groupby('Age')['respiratory rate'].transform('median'))

#исходим из описания: animals with painful lesions or suffering from circulatory shock
hd_copy['Pulse'] = hd_copy['Pulse'].fillna(horse_data.groupby('pain')['Pulse'].transform('median'))

# допускаем корреляцию  temperature of extremities и rectal temperature
hd_copy['rectal temperature'] = hd_copy['rectal temperature'].fillna(horse_data.groupby(['temperature of extremities'])['rectal temperature'].transform('median'))

# используем корреляцию pain и temperature of extremitie
hd_copy['temperature of extremities'] = hd_copy['temperature of extremities'].fillna(horse_data.groupby('pain')['temperature of extremities'].transform('median'))

# кол-во пропусков сократилось до  67 в 39 (13%) строках, изначально с пропусками было 145 строк
hd_copy.isna().sum()

# убираем строки с пропусками, работаем далее с 87% выборкой из начального дата фрейма
hd_copy.dropna()

,surgery?,Age,rectal temperature,Pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,39.20,88.0,20.0,2.0,3.0,3.0
1,2.0,1,38.30,40.0,24.0,1.0,3.0,1.0
2,1.0,2,39.10,164.0,84.0,4.0,2.0,2.0
4,2.0,1,38.20,78.0,24.0,2.0,2.0,1.0
5,1.0,1,37.90,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
293,2.0,1,38.50,40.0,16.0,1.0,2.0,1.0
294,1.0,1,38.35,120.0,70.0,4.0,2.0,3.0
295,2.0,1,37.20,72.0,24.0,3.0,4.0,3.0
296,1.0,1,37.50,72.0,30.0,4.0,4.0,2.0
297,1.0,1,36.50,100.0,24.0,3.0,3.0,1.0